body {
  background-color: rgb(255, 72, 0);
}

/*
  Propiedades de texto rstan relacionados con el estilo de los textos.

  Permitencontrolar su apariencia alineacion espaciado y decoración. 

  Principales 

  Color: -> define color del texto. recibe diferentes tipos de valores: Keywors, hecadecimal, rgb o rgba, transparent.

  Font-family: -> Define la familia tipografica del texto. Recove los nombres la famiolia si son de dos palablas se escriben entre comillas, acepta mas de dos calores separados por una "," como fuente de respaldo

  Font size -> define el tamaño del texto. acepta vañores en xp em t rom porcentajes determinado, terminos predefinidos 

  Font-style -> Es el estilo de la fuente u recibe tres parametros normal, italic y oblique  

  text-aling -> define la alineacion del texto reciben left rigth center justify star y end

  text-decoration -> añade ñinea transversalal tecto. recive valores: none 

  Text-transform -> controla la capitalizacion del texto recibe los valores: uppercase, lowercase y capitalize

  line-height -> espacio entre las lineas de texto. recibe valores en px % em y remm un valor sin unidad sera relativo al valor de la fuente.

  letter-spacing -> espacio entre letras recibe valores de

  Tex shadow sombre del texto recibe del tecto los valores en el siguiente orden: offset-x offset-y blur color

  10px 10px 10px red -> derecha y abajo

  -10px -10px 10px red ->izquierda arriba
  */


h1 {
  color: rgb(225, 136, 225); /* keywords */
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 96 px;
  font-size: 100%; /* 16% = 100 */
  font-size: xx-large;
  font-style: inherit;
  text-align: center;
  text-decoration:  underline;
  text-transform: lowercase;

  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  text-transform: lowercase;
  text-transform: capitalize;



  letter-spacing: 20px;
  letter-spacing: 1rem;
  letter-spacing: 2em;
  letter-spacing: -10px;
  letter-spacing: normal;
  


  text-shadow: 10px 10px 5px red;
}

p {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 96 px;
  font-size: 100%; /* 16% = 100 */
  font-style: inherit;
  
  word-spacing: 60px;
  word-spacing: 2rem;
  word-spacing: 5em;
  word-spacing: normal;

}

.important { 
  text-decoration: underline;
}

.a {
  color: yellow;
  font-size: xx-large;
  text-decoration: none;
}